/* CSS Mini Reset */
/* from http://www.vcarrer.com/2010/05/css-mini-reset.html */

html, body, div, form, fieldset, legend, label
{
    margin: 0;
    padding: 0; 
}

table
{
    border-collapse: collapse;
    border-spacing: 0;
}

th, td
{
    text-align: left;
    vertical-align: top;
}

h1, h2, h3, h4, h5, h6, th, td, caption { font-weight:normal; }

img { border: 0; }

/* end reset */

// variables
$gutter: 20px;
$containerWidth: 640px;
// palette
$background: #eff8fc;
$primary: #1875d1;
$light: #63a3ff;
$dark: #004a9f;
$accent: #ff0092;
$accent-light: #ff40ad;
$text: rgba(0, 0, 0, 0.875);
$text-secondary: rgba(0, 0, 0, 0.6);


//material-style shadows
//from https://css-tricks.com/snippets/sass/material-shadows-mixin/
//$depth takes a number 1 - 5 for the depth
@mixin card($depth, $colour: white){
    background-color: $colour;
	@if $depth < 1{
		box-shadow: none;
	} @else if $depth > 5{
		@warn "invalid $depth for mixin 'card'";
	} @else {
		box-shadow: bottom-shadow($depth), top-shadow($depth);
	}
}

@mixin text-card($depth){
    @if $depth < 1{
		text-shadow: none;
	} @else if $depth > 5{
		@warn "invalid $depth for mixin 'card'";
	} @else {
		text-shadow: bottom-shadow($depth), top-shadow($depth);
	}
}

//use these two functions in mixin above
@function top-shadow($depth){
	$primary-offset: nth(1.5 3 10 14 19, $depth) * 1px;
	$blur: nth(1.5 3 10 14 19, $depth) * 4px;
	$color: rgba(black, nth(.12 .16 .19 .25 .30, $depth));

	@return 0 $primary-offset $blur $color;
}

@function bottom-shadow($depth){
	$primary-offset: nth(1.5 3 6 10 15, $depth) * 1px;
	$blur: nth(1.5 3 3 5 6, $depth) * 4px;
	$color: rgba(black, nth(.24 .23 .23 .22 .22, $depth));

	@return 0 $primary-offset $blur $color;
}

@mixin icon-button($size: 50px, $colour: $primary){
    border: none;
    position: relative;
    @include card(1, $colour);
    margin: 0;
    padding: 0;
    width: $size;
    height: $size;
    font-size: 1.35rem;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    color: white;
    cursor: pointer;
    -webkit-font-smoothing: inherit;
    -moz-osx-font-smoothing: inherit;
    -webkit-appearance: none;
    transition: all 0.3s ease;
    &:focus, &:hover{
        outline: none;
        // transform: scale(1.1);
        @include card(3, $colour);
    }
    &::-moz-focus-inner{
        border: 0;
    }
    &:after {
        content: '';
        position: absolute;
        top: 50%;
        left: 50%;
        width: 5px;
        height: 5px;
        background: rgba(255, 255, 255, .5);
        opacity: 0;
        border-radius: 100%;
        transform: scale(1, 1) translate(-50%);
        transform-origin: 50% 50%;
    }
}

@keyframes ripple {
    0% {
      transform: scale(0, 0);
      opacity: 1;
    }
    20% {
      transform: scale(25, 25);
      opacity: 1;
    }
    100% {
      opacity: 0;
      transform: scale(40, 40);
    }
}
  
button:focus:not(:active)::after {
    animation: ripple 1s ease-out;
}

@mixin text-button($size: 50px, $colour: $primary){
    border: none;
    @include card(1, $colour);
    margin: 0;
    padding: 0;
    min-width: 150px;
    height: $size;
    font-size: 1.1rem;
    border-radius: 2px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    background-color: $colour;
    color: white;
    -webkit-font-smoothing: inherit;
    -moz-osx-font-smoothing: inherit;
    -webkit-appearance: none;
    transition: all 0.3s ease;
    &:focus, &:hover{
        outline: none;
        @include card(3, $light);
    }
}

@mixin container($w: $containerWidth){
    box-sizing: border-box;
    margin: 0 auto;
    max-width: $w;
}

@import url('https://fonts.googleapis.com/css?family=Lora|Open+Sans');
body{
    font-size: 16px;
    //font-family: 'Lora', serif;
    font-family: 'Open Sans', sans-serif;
    background-color: $background;
}

#app{
    overflow: hidden;
}

header{
    box-sizing: border-box;
    @include card(2);
    background-color: white;
    padding: $gutter 5px 10px 5px;
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: space-between;
    border-bottom: 1px solid $primary;
    h1{
        margin: 0;
        font-size: 1.5rem;
    }
}

.button-group{
    display: flex;
    align-items: center;
    button{
        @include icon-button(40px, $primary);
    }
    a{
        @include icon-button(40px, white)
    }
    button, h1, a{
        margin: 0 5px;
    }
    &:last-child{
        margin-top: 5px;
        align-self: flex-end;
    }
}

@media screen and (min-width: 540px){
    header{
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        padding: $gutter;
        .button-group{
            h1{
                font-size: 2rem;
            }
            button{
                @include icon-button(50px, $primary);                
            }
            a{
                @include icon-button(50px, white)
            }
            button, h1{
                margin-left: $gutter;
            }
        }
    }
}

@media print{
    header{
        display: none;
    }
}

input{
    display: block;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    width: 100%;
    padding: 5px;
    background: transparent;
    border: none;
    border-bottom: 1px solid lighten($text, 70%);
    font-size: 1.2rem;
    &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
      color: #777777;
    }
    &::-moz-placeholder { /* Firefox 19+ */
      color: #777777;
    }
    &:-ms-input-placeholder { /* IE 10+ */
      color: #777777;
    }
    &:-moz-placeholder { /* Firefox 18- */
      color: #777777;
    }
    &:focus{
      outline: none;
      border-bottom: 1.5px solid $primary;
      color: $primary;
    }
}

label{
    margin-top: $gutter;
    color: $text-secondary;
    font-size: 0.9rem;
    padding: 5px;
}

@mixin slide-in-info{
    @include card(1);
    @include container();
    margin: $gutter auto;
    box-sizing: border-box;
    width: 100%;
    background-color: #ffffff;
    padding: $gutter;
    h3{
        margin: 0;
        box-sizing: border-box;
        padding: 1rem 0 0.6rem 0;
        width: 100%;
        border-bottom: 1px solid $light;
    }
    input{
        margin-bottom: 20px;
        &:last-child{
            margin-bottom: 0;
        }
    }
}

.info-boxes-container{
    margin: $gutter;
    .about-info{
        @include slide-in-info();
    }
    .settings{
        @include slide-in-info();
        h3{
            margin-bottom: 1rem;
        }
        p{
            font-size: 0.9rem;
            color: $text-secondary;
        }
    }  
}

.slide-enter-active, .slide-leave-active {
    transition: all .5s;
}
.slide-enter, .slide-leave-to {
    transform: translateX(100%);
    opacity: 0;
}

.fade-enter-active, .fade-leave-active {
    transition: all .2s;
}
.fade-enter, .fade-leave-to {
    opacity: 0;
}